@charset "UTF-8";
@keyframes accordionOpen {
 0% {
  transform: rotate(0deg);
 }
 100% {
  transform: rotate(180deg);
 }
}

@keyframes accordionClose {
 0% {
  transform: rotate(0deg);
 }
 100% {
  transform: rotate(180deg);
 }
}

body {
 font-family: "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, YuGothic, Arial, "メイリオ", Meiryo, sans-serif;
 color: #555;
 line-height: 1.6em;
 background: #DAF4F8 url("/img/main-bg.png") no-repeat center top;
}

.overlay {
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 z-index: 50;
 display: none;
}

.heading__lv1 {
 font-size: 32px;
 color: #73d4e6;
 text-align: center;
 margin: 0 0 40px;
 line-height: 1.5em;
 letter-spacing: 10px;
 font-family: 'Ubuntu Condensed', sans-serif;
}

.heading__lv1 small {
 font-size: 14px;
 display: block;
 color: #555;
 letter-spacing: 2px;
}

.heading__lv2 {
 font-size: 20px;
 color: #73d4e6;
 text-align: center;
 margin: 0 0 30px;
 padding: 0 0 20px;
}

.heading__lv2::after {
 content: url(/img/heading_line.png);
}

.heading__lv3 {
 font-size: 16px;
 font-weight: bold;
 color: #73d4e6;
 margin: 0 0 20px;
 padding: 10px 0 0;
}

.heading__lv4 {
 font-size: 15px;
 font-weight: bold;
 color: #555555;
 margin: 0 0 15px;
}

.heading__lv5 {
 font-size: 16px;
 font-weight: bold;
 color: #73D4E6;
 margin: 0 0 4px;
}

.header {
 display: none;
 width: 100%;
 justify-content: space-between;
 position: fixed;
 background: #fff;
 padding: 15px 10px;
 border-radius: 0 0 16px 16px;
 z-index: 100;
}

@media screen and (min-width: 1024px) {
 .header {
  display: flex;
 }
}

.header__logo {
 width: 114px;
 padding: 7px 20px 0 0;
}

.header__leftInner {
 display: flex;
}

.header__leftList {
 display: flex;
 padding: 12px 0;
 width: 580px;
}

.header__leftListItem {
 position: relative;
}

.header__leftListItem a {
 color: #555;
 text-decoration: none;
 font-size: 13px;
 margin: 0 15px 0 0;
 padding: 3px 35px 5px 0;
 border-right: 1px solid #555;
 position: relative;
}

.header__leftListItem a::after {
 content: '';
 width: 8px;
 height: 8px;
 display: block;
 border-top: solid 1px #73d4e6;
 border-right: solid 1px #73d4e6;
 position: absolute;
 -webkit-transform: rotate(135deg);
 transform: rotate(135deg);
 top: 3px;
 right: 10%;
 margin: auto;
}

.header__leftListItem--isActive::after {
 content: '';
 width: calc(100% - 40px);
 height: 1px;
 border-bottom: 1px solid #73d4e6;
 position: absolute;
 left: 0;
 bottom: -5px;
}

.header__leftListItem:last-child a {
 margin: 0;
 border: none;
}

.header__rightList {
 display: flex;
 width: 308px;
}

.header__rightListItem {
 position: relative;
}

.header__rightListItem a {
 font-size: 10px;
 color: #73d4e6;
 text-decoration: none;
 padding: 26px 8px 0;
 display: block;
}

.header__rightListItem--group a::before {
 content: '';
 width: 26px;
 height: 26px;
 background: url("/img/group.png") no-repeat center top;
 background-size: 26px 22px;
 position: absolute;
 top: 0;
 left: 50%;
 margin: 0 0 0 -13px;
}

.header__rightListItem--cart a::before {
 content: '';
 width: 26px;
 height: 26px;
 background: url("/img/cart.png") no-repeat center top;
 background-size: 23px 21px;
 position: absolute;
 top: 0;
 left: 50%;
 margin: 0 0 0 -13px;
}

.header__rightListItem--help a::before {
 content: '';
 width: 26px;
 height: 26px;
 background: url("/img/help-circle.png") no-repeat center top;
 background-size: 24px 24px;
 position: absolute;
 top: 0;
 left: 50%;
 margin: 0 0 0 -13px;
}

.header .tooltip {
 position: absolute;
 top: 81px;
 background: #fff;
 padding: 54px 40px 30px;
 display: flex;
 border: 1px solid #73D4E6;
 visibility: hidden;
}

.header .tooltip--category01::before {
 content: "";
 position: absolute;
 top: -24px;
 left: 200px;
 margin-left: -15px;
 border: 12px solid transparent;
 border-bottom: 12px solid #fff;
 z-index: 200;
}

.header .tooltip--category01::after {
 content: "";
 position: absolute;
 top: -29px;
 left: 200px;
 margin-left: -17px;
 border: 14px solid transparent;
 border-bottom: 15px solid #73D4E6;
 z-index: 100;
}

.header .tooltip--category02::before {
 content: "";
 position: absolute;
 top: -24px;
 left: 160px;
 margin-left: -15px;
 border: 12px solid transparent;
 border-bottom: 12px solid #fff;
 z-index: 200;
}

.header .tooltip--category02::after {
 content: "";
 position: absolute;
 top: -29px;
 left: 160px;
 margin-left: -17px;
 border: 14px solid transparent;
 border-bottom: 15px solid #73D4E6;
 z-index: 100;
}

.header .tooltip--category03 {
 left: 310px;
}

.header .tooltip--category03::before {
 content: "";
 position: absolute;
 top: -24px;
 left: 160px;
 margin-left: -15px;
 border: 12px solid transparent;
 border-bottom: 12px solid #fff;
 z-index: 200;
}

.header .tooltip--category03::after {
 content: "";
 position: absolute;
 top: -29px;
 left: 160px;
 margin-left: -17px;
 border: 14px solid transparent;
 border-bottom: 15px solid #73D4E6;
 z-index: 100;
}

.header .tooltip--category04 {
 left: 300px;
}

.header .tooltip--category04::before {
 content: "";
 position: absolute;
 top: -24px;
 left: 390px;
 margin-left: -15px;
 border: 12px solid transparent;
 border-bottom: 12px solid #fff;
 z-index: 200;
}

.header .tooltip--category04::after {
 content: "";
 position: absolute;
 top: -29px;
 left: 390px;
 margin-left: -17px;
 border: 14px solid transparent;
 border-bottom: 15px solid #73D4E6;
 z-index: 100;
}

.header .tooltip__linkList {
 width: 350px;
}

.header .tooltip__linkListItem {
 position: relative;
 padding: 0 0 0 30px;
}

.header .tooltip__linkListItem span {
 position: absolute;
 top: 0;
 left: 0;
 width: 24px;
 height: 24px;
 display: block;
 background: #73D4E6;
 border-radius: 50%;
 color: #fff;
}

.header .tooltip__linkListItem span::before {
 content: '';
 width: 7px;
 height: 7px;
 display: block;
 border-top: solid 1px #fff;
 border-right: solid 1px #fff;
 position: absolute;
 top: 0;
 bottom: 0;
 left: -3px;
 right: 0;
 margin: auto;
 background: #73d4e6;
 transform: rotate(45deg);
}

.header .tooltip__linkListItem a {
 color: #555;
 text-decoration: none;
 margin: 0 0 24px;
 display: block;
}

.header .tooltip__linkListItem--sub {
 margin: 0 0 0 40px;
}

.spNavigation {
 display: flex;
 width: 100%;
 justify-content: space-between;
 position: fixed;
 background: #fff;
 z-index: 100;
 bottom: 0;
}

@media screen and (min-width: 1024px) {
 .spNavigation {
  display: none;
 }
}

.spNavigation__linkList {
 display: flex;
 width: 100%;
 padding: 15px 20px 10px;
 justify-content: space-between;
}

.spNavigation__linkListItem {
 text-align: center;
 line-height: 0.8;
}

.spNavigation__linkListItem > p {
 height: 25px;
}

.spNavigation__linkListItem a {
 color: #73D4E6;
 font-size: 10px;
 text-decoration: none;
 line-height: 1em;
}

.spNavigation .spNavBtn {
 position: fixed;
 bottom: 46px;
 left: 50%;
 width: 60px;
 height: 60px;
 background: #F6BDB8;
 border-radius: 50%;
 font-size: 32px;
 color: #fff;
 text-align: center;
 border: 5px solid #9DD6E1;
 margin: 0 0 0 -30px;
 padding: 12px 0;
 cursor: pointer;
 z-index: 1000;
}

.spNavigation .spNavBtn.is-active {
 font-size: 40px;
 padding: 10px 0;
}

.spNavigation__list {
 display: none;
 position: fixed;
 bottom: 100px;
 left: 10%;
 width: 80%;
 background: #fff;
 border-radius: 24px;
 padding: 30px;
}

.spNavigation__listItem {
 border-bottom: 1px dotted #DAF4F8;
 padding: 18px 0;
}

.spNavigation__listItem > a {
 color: #555;
 font-size: 14px;
 text-decoration: none;
 font-size: 14px;
 display: block;
 position: relative;
}

.spNavigation__listItem > a::after {
 content: '＋';
 position: absolute;
 top: 0;
 right: 0;
 color: #24B6D1;
 font-size: 20px;
}

.spNavigation__listItem.is-active > a::after {
 content: 'ー';
 position: absolute;
 top: 0;
 right: 0;
 color: #24B6D1;
 font-size: 20px;
}

.spNavigation__listAccordionList {
 margin: 20px 0 0;
 display: none;
}

.spNavigation__listAccordionList a {
 color: #24B6D1;
 font-size: 13px;
 text-decoration: none;
 font-size: 14px;
 background: #F4FCFD;
 display: block;
 margin: 0 0 5px;
 padding: 15px 10px;
 position: relative;
}

.spNavigation__listAccordionList a::after {
 content: '';
 width: 10px;
 height: 10px;
 display: block;
 border-top: solid 1px #24B6D1;
 border-right: solid 1px #24B6D1;
 position: absolute;
 transform: rotate(45deg);
 top: calc(50% - 5px);
 right: 20px;
 margin: auto;
}

.breadcrumb {
 padding: 350px 0 15px;
 width: 960px;
 margin: 0 auto;
}

.breadcrumb__list {
 display: flex;
}

.breadcrumb__listItem {
 margin: 0 15px 0 0;
}

.breadcrumb__listItem a {
 color: #73D4E6;
 display: inline-block;
 margin: 0 15px 0 0;
 text-decoration: none;
}

.breadcrumb__listItem--here {
 font-weight: bold;
}

.contents {
 border-radius: 25px 25px 0 0;
 background: #ecf6f8;
 padding: 32px 0px;
}

@media screen and (min-width: 1024px) {
 .contents {
  padding: 50px 0 100px;
 }
}

.contents__inner {
 width: 100%;
 margin: 0 auto;
 overflow: hidden;
}

@media screen and (min-width: 1024px) {
 .contents__inner {
  width: 960px;
 }
}

.contents__leadTxt {
 font-size: 15px;
 padding: 18px;
}

@media screen and (min-width: 1024px) {
 .contents__leadTxt {
  margin: 0 0 50px;
 }
}

.commonBlock {
 background: #fff;
 border-radius: 24px;
 margin: 0 0 56px;
 padding: 24px 32px 32px;
}

@media screen and (min-width: 1024px) {
 .commonBlock {
  padding: 50px 50px 20px;
 }
}

.commonBlock--accordion {
 border-radius: 8px;
 padding: 25px 20px;
 margin: 32px 16px;
}

@media screen and (min-width: 1024px) {
 .commonBlock--accordion {
  margin: 56px 0;
 }
}

.commonBlock__title {
 font-size: 24px;
 font-weight: bold;
 color: #73d4e6;
 margin: 0 0 20px;
}

.commonBlock__leadTxt {
 margin: 0 0 24px;
}

.commonBlock__txt {
 margin: 0 0 24px;
}

.commonBlock__dataList {
 margin: 0 0 45px;
}

.commonBlock__dataTitle {
 font-weight: bold;
}

.commonBlock__dataDetail {
 margin: 0 0 24px;
}

.commonBlock__img {
 text-align: center;
 margin: 0 0 35px;
}

.commonBlockAccordion__innerTitle {
 font-size: 16px;
 position: relative;
 cursor: pointer;
}

.commonBlockAccordion__innerTitle span {
 position: absolute;
 top: 0;
 right: 0;
 width: 24px;
 height: 24px;
 display: block;
 background: #9DD6E1;
 border-radius: 50%;
 color: #fff;
 transition: transform 0.5s ease;
 transform: rotate(0deg);
}

.commonBlockAccordion__innerTitle span::after {
 content: '';
 width: 7px;
 height: 7px;
 display: block;
 border-top: solid 1px;
 border-right: solid 1px;
 position: absolute;
 transform: rotate(135deg);
 top: -3px;
 bottom: 0;
 left: 1px;
 right: 0;
 margin: auto;
}

.commonBlockAccordion__innerTitle.is-active span {
 transition: transform 0.5s ease;
 transform: rotate(180deg);
}

.commonBlockAccordion__innerList {
 margin: 25px 0 0;
 display: none;
}

.commonBlockAccordion__innerListItem {
 margin: 0 0 15px;
}

.commonBlockAccordion__innerListItem a {
 font-size: 16px;
 color: #73d4e6;
}

.commonBlock__detailBox {
 background: #f4fcfd;
 border-radius: 8px;
 margin: 0 0 30px;
 padding: 15px;
}

.commonBlock__detailBox--close {
 padding: 15px 15px 0;
}

.commonBlock__detailDataList {
 display: flex;
}

.commonBlock__detailDataListTitle {
 font-size: 12px;
 font-weight: bold;
 color: #73D4E6;
 width: 28%;
}

@media screen and (min-width: 1024px) {
 .commonBlock__detailDataListTitle {
  width: 15%;
 }
}

.commonBlock__detailDataListDetail {
 font-size: 12px;
 color: #555;
 width: 100%;
}

.commonBlock__closeInfoBox {
 display: flex;
}

.commonBlock__closeInfoBoxDetail {
 width: 100%;
}

.commonBlock__closeInfoBoxDetailList {
 width: 100%;
 display: flex;
 flex-wrap: wrap;
}

.commonBlock__closeInfoBoxDetailListItem {
 width: 100%;
 padding: 0 0 15px;
}

@media screen and (min-width: 1024px) {
 .commonBlock__closeInfoBoxDetailListItem {
  width: 50%;
 }
}

.commonBlock__closeInfoBoxDetailListItem dl {
 display: flex;
}

.commonBlock__closeInfoBoxDetailListItem dt {
 width: 48px;
 padding: 11px 0;
 text-align: center;
 font-size: 12px;
 font-weight: bold;
 color: #73D4E6;
 background: #fff;
}

.commonBlock__closeInfoBoxDetailListItem dd {
 font-size: 12px;
 padding: 5px 12px;
 line-height: 1.5em;
}

.commonBlock__closeInfoBoxDetailListItemTime {
 color: #73D4E6;
}

.commonBlock__closeInfoBoxDetailListItemReason {
 color: #555;
}

.commonBlock__access {
 margin: 0 0 35px;
}

.commonBlock__access iframe {
 width: 100%;
 height: 300px;
 border-radius: 8px;
}

.commonBlock__map {
 width: 100%;
 height: 300px;
 border-radius: 8px;
}

@media screen and (min-width: 769px) {
 .commonAccordion:last-child {
  padding: 0 0 30px;
 }
}

.commonAccordion__listItem > a {
 color: #73D4E6;
 font-size: 16px;
 font-weight: bold;
 text-decoration: none;
 background: #F4FCFD;
 padding: 25px 15px;
 display: block;
 width: 100%;
 position: relative;
}

.commonAccordion__listItem > a.is-active span {
 transition: transform 0.5s ease;
 transform: rotate(180deg);
}

.commonAccordion__listItem > a span {
 position: absolute;
 top: 24px;
 right: 20px;
 width: 24px;
 height: 24px;
 display: block;
 background: #9DD6E1;
 border-radius: 50%;
 color: #fff;
 transition: transform 0.5s ease;
 transform: rotate(0deg);
}

.commonAccordion__listItem > a span::after {
 content: '';
 width: 7px;
 height: 7px;
 display: block;
 border-top: solid 1px;
 border-right: solid 1px;
 position: absolute;
 transform: rotate(135deg);
 top: -3px;
 bottom: 0;
 left: 1px;
 right: 0;
 margin: auto;
}

.commonAccordion__listInnerList {
 display: none;
}

.commonAccordion__listInnerListItem {
 margin: 0 0 0 25px;
 position: relative;
}

.commonAccordion__listInnerListItem > a {
 color: #555;
 font-weight: bold;
 text-decoration: none;
 display: block;
 padding: 20px 25px 20px 0;
 border-bottom: 1px dotted #73D4E6;
}

.commonAccordion__listInnerListItem > a.is-active span {
 transition: transform 0.5s ease;
 transform: rotate(180deg);
}

.commonAccordion__listInnerListItem > a span {
 position: absolute;
 top: 24px;
 right: 20px;
 width: 24px;
 height: 24px;
 display: block;
 background: transparent;
 border-radius: 50%;
 color: #fff;
 transition: transform 0.5s ease;
 transform: rotate(0deg);
}

.commonAccordion__listInnerListItem > a span::after {
 content: '';
 width: 10px;
 height: 10px;
 display: block;
 border-top: solid 1px #73D4E6;
 border-right: solid 1px #73D4E6;
 position: absolute;
 transform: rotate(135deg);
 top: -3px;
 bottom: 0;
 left: 1px;
 right: 0;
 margin: auto;
}

.commonAccordion__listInnerListItem ul {
 display: none;
}

.commonAccordion__listInnerListItem ul li a {
 color: #73D4E6;
 text-decoration: none;
 display: block;
 padding: 20px 0;
 border-bottom: 1px dotted #73D4E6;
}

.area__block {
 margin-bottom: 40px;
}

.area__block .area__accordion:last-child {
 border-bottom: 1px solid #DAF4F8;
}

.area__block .commonBlock__detailDataListTitle {
 font-size: 14px;
}

.area__block .commonBlock__detailDataListTitle a {
 text-decoration: none;
 color: #73D4E6;
 cursor: pointer;
}

.area__block .commonBlock__detailDataListDetail a {
 text-decoration: none;
 color: #73D4E6;
 cursor: pointer;
}

.area__accordion {
 margin: 0px;
 border-top: 1px solid #DAF4F8;
 color: #73d4e6;
}

.reservationBlock {
 background: #fff;
 border-radius: 24px;
 margin: 0 0 56px;
 padding: 24px 32px 32px;
}

@media screen and (min-width: 1024px) {
 .reservationBlock {
  padding: 40px 50px;
 }
}

.reservationBlock__title {
 font-size: 16px;
 font-weight: bold;
 color: #73d4e6;
 margin: 0 0 20px;
}

.reservationBlock__txt {
 font-size: 14px;
 margin: 0 0 27px;
}

.reservationBlock__list {
 font-size: 12px;
 color: #888;
 margin: 0 0 27px;
}

.reservationBlock__select {
 width: 311px;
 position: relative;
 cursor: pointer;
}

.reservationBlock__select select {
 margin: 0;
 box-sizing: border-box;
 -webkit-appearance: none;
 -moz-appearance: none;
 border: 1px solid #73d4e6;
 border-radius: 8px;
 padding: 25px 20px;
 display: inline-block;
 line-height: 1.5em;
 background: #fff;
 color: #555;
 font-size: 16px;
 width: 100%;
 cursor: pointer;
}

.reservationBlock__select::after {
 content: '';
 width: 10px;
 height: 10px;
 display: block;
 border-top: solid 1px #73d4e6;
 border-right: solid 1px #73d4e6;
 position: absolute;
 transform: rotate(135deg);
 top: -5px;
 bottom: 0;
 left: 80%;
 right: 0;
 margin: auto;
}

.slider {
 width: 100%;
 margin: 0 auto;
}

@media screen and (min-width: 1024px) {
 .slider {
  width: 564px;
 }
}

.slider__item {
 padding: 0 12px;
}

.anc__arrow {
 color: #555;
 text-decoration: none;
 position: relative;
 display: block;
 text-align: right;
 padding-right: 48px;
}

.anc__arrow span {
 position: absolute;
 top: 1px;
 right: 8px;
 width: 24px;
 height: 24px;
 display: block;
 background: #73D4E6;
 border-radius: 50%;
 color: #fff;
}

.anc__arrow span::before {
 content: '';
 width: 7px;
 height: 7px;
 display: block;
 border-top: solid 1px #fff;
 border-right: solid 1px #fff;
 position: absolute;
 top: 0;
 bottom: 0;
 left: -3px;
 right: 0;
 margin: auto;
 background: #73d4e6;
 transform: rotate(45deg);
}

.footer {
 width: 100%;
 margin-bottom: 76px;
 padding: 20px;
 background: #9DD6E1;
 color: #fff;
 border-radius: 25px 25px 0 0;
}

@media screen and (min-width: 1024px) {
 .footer {
  padding: 56px 20px;
  margin-bottom: 0;
 }
}

.footer__wrapper {
 margin: 30px auto 48px;
}

@media screen and (min-width: 1024px) {
 .footer__wrapper {
  display: flex;
  width: 1044px;
 }
}

@media screen and (min-width: 1024px) {
 .footer__linkList {
  width: 240px;
  margin: 0 auto 48px;
 }
}

.footer__linkList a {
 color: #fff;
 text-decoration: none;
}

.footer__linkListItem {
 font-size: 12px;
 margin: 0 0 10px;
 padding: 0 0 0 10px;
 position: relative;
}

.footer__linkListItem::after {
 position: absolute;
 content: '-';
 top: -1px;
 left: 0;
}

.footer__linkListItem--title {
 font-size: 14px;
 border-bottom: 1px solid #74bdcb;
 margin: 30px 0 15px;
 padding: 0 0 15px;
}

.footer__linkListItem--sp {
 width: 50%;
 text-align: center;
 padding-bottom: 16px;
}

.footer__linkListSp {
 display: flex;
 flex-wrap: wrap;
 font-size: 12px;
 justify-content: center;
 padding-bottom: 24px;
}

.footer__linkListSp a {
 color: #fff;
 text-decoration: none;
}

.footer__logo {
 text-align: center;
 padding-bottom: 24px;
}

.footer__sns {
 margin: 0 auto 40px;
 padding: 25px;
 background: #fff;
 border-radius: 16px;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}

.footer__snsItem {
 width: 33.3%;
 text-align: center;
}

.footer__snsItem:nth-of-type(4), .footer__snsItem:nth-of-type(5) {
 padding-top: 18px;
}

@media screen and (min-width: 1024px) {
 .footer__snsItem {
  width: 130px;
 }
 .footer__snsItem:nth-of-type(4), .footer__snsItem:nth-of-type(5) {
  padding-top: 0;
 }
}

@media screen and (min-width: 1024px) {
 .footer__sns {
  display: flex;
  align-items: baseline;
  width: 764px;
 }
}

.footer address {
 font-style: normal;
 font-size: 0.8em;
 text-align: center;
 font-family: 'Ubuntu Condensed', sans-serif;
}

.searchBlock {
 width: calc(100% - 36px);
 margin: 0 auto 28px;
 position: relative;
}

@media screen and (min-width: 769px) {
 .searchBlock {
  width: 518px;
  margin: 0 auto 56px;
 }
}

.searchBlock__input input {
 width: 100%;
 appearance: none;
 border: none;
 border-radius: 8px;
 padding: 20px 50px 20px 20px;
 width: 100%;
 font-size: 14px;
}

.searchBlock img {
 position: absolute;
 top: 50%;
 right: 20px;
 margin: -10px 0 0;
}

@media screen and (min-width: 1024px) {
 .qa__block {
  padding: 0 30px 30px;
 }
}

.qa__heading {
 display: flex;
 align-items: center;
 color: #73D4E6;
 font-weight: bold;
 padding-bottom: 32px;
}

.qa__heading i {
 margin-right: 32px;
 padding: 4px 18px;
 border-radius: 13px 13px 13px 0;
 font-style: normal;
 background: #73D4E6;
 color: #fff;
}

.qa__txt {
 display: flex;
 align-items: baseline;
}

.qa__txt i {
 margin-right: 32px;
 padding: 4px 18px;
 border-radius: 13px 13px 0 13px;
 font-style: normal;
 background: #555555;
 color: #fff;
}

.display__pc {
 display: none;
}

@media screen and (min-width: 1024px) {
 .display__pc {
  display: block;
 }
}

.display__sp {
 display: block;
}

@media screen and (min-width: 1024px) {
 .display__sp {
  display: none;
 }
}
