@charset "UTF-8";
/* Slider */
.slick-slider {
 position: relative;
 display: block;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 -ms-touch-action: pan-y;
 touch-action: pan-y;
 -webkit-tap-highlight-color: transparent;
}

.slick-list {
 position: relative;
 display: block;
 margin: 0;
 padding: 0;
}

.slick-list:focus {
 outline: none;
}

.slick-list.dragging {
 cursor: pointer;
 cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0);
}

.slick-track {
 position: relative;
 left: 0;
 top: 0;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.slick-track:before, .slick-track:after {
 content: "";
 display: table;
}

.slick-track:after {
 clear: both;
}

.slick-loading .slick-track {
 visibility: hidden;
}

.slick-slide {
 float: left;
 height: 100%;
 min-height: 1px;
 display: none;
}

[dir="rtl"] .slick-slide {
 float: right;
}

.slick-slide img {
 display: block;
}

.slick-slide.slick-loading img {
 display: none;
}

.slick-slide.dragging img {
 pointer-events: none;
}

.slick-initialized .slick-slide {
 display: block;
}

.slick-loading .slick-slide {
 visibility: hidden;
}

.slick-vertical .slick-slide {
 display: block;
 height: auto;
 border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
 display: none;
}

/* Theme import from css file */
/* Slider */
/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
 font-size: 0;
 line-height: 0;
 position: absolute;
 bottom: -45px;
 display: block;
 width: 20px;
 height: 20px;
 padding: 0;
 -webkit-transform: translate(0, -50%);
 transform: translate(0, -50%);
 cursor: pointer;
 border: none;
 outline: none;
 z-index: 10;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
 color: transparent;
 outline: none;
 background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
 opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
 opacity: .5;
}

.slick-prev:before,
.slick-next:before {
 font-size: 20px;
 line-height: 1;
 opacity: .75;
 color: white;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
 left: 210px;
}

.slick-prev:before {
 content: '';
 width: 10px;
 height: 10px;
 display: block;
 border-top: solid 1px #73d4e6;
 border-right: solid 1px #73d4e6;
 position: absolute;
 -webkit-transform: rotate(-135deg);
 transform: rotate(-135deg);
 top: -3px;
 bottom: 0;
 left: 1px;
 right: 0;
 margin: auto;
 z-index: 1;
}

.slick-next {
 right: 220px;
}

.slick-next:before {
 content: '';
 width: 10px;
 height: 10px;
 display: block;
 border-top: solid 1px #73d4e6;
 border-right: solid 1px #73d4e6;
 position: absolute;
 -webkit-transform: rotate(45deg);
 transform: rotate(45deg);
 top: -3px;
 bottom: 0;
 left: 1px;
 right: 0;
 margin: auto;
}

/* Dots */
.slick-dotted.slick-slider {
 margin-bottom: 60px;
}

.slick-dots {
 position: absolute;
 bottom: -32px;
 display: block;
 width: 100%;
 padding: 0;
 margin: 0;
 list-style: none;
 text-align: center;
}

.slick-dots li {
 position: relative;
 display: inline-block;
 width: 20px;
 height: 20px;
 margin: 0 5px;
 padding: 0;
 cursor: pointer;
}

.slick-dots li button {
 font-size: 0;
 line-height: 0;
 display: block;
 width: 20px;
 height: 20px;
 padding: 5px;
 cursor: pointer;
 color: transparent;
 border: 0;
 outline: none;
 background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
 outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
 opacity: 1;
}

.slick-dots li button:before {
 font-size: 10px;
 line-height: 20px;
 position: absolute;
 top: 0;
 left: 0;
 width: 12px;
 height: 12px;
 content: '●';
 text-align: center;
 opacity: .25;
 color: #73d4e6;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
 font-size: 14px;
 content: '■';
 text-align: center;
 opacity: 1;
 color: #73d4e6;
}
